<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/tableuser']" routerLinkActive="router-link-active"> User </a>
    </div>
  </nav>