<div class="container">
    <h1>New User</h1>
    <form>
        <div class="form-group">
            <input type="text"  [(ngModel)]="newUser.name" name="name" class="form-control" placeholder="Name...">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="newUser.username" name="username" class="form-control" placeholder="Username...">
        </div>
        <div class="form-group">
            <input type="text"  [(ngModel)]="newUser.email"  name="email" class="form-control" placeholder="Email...">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="newUser.phone" name="phone" class="form-control" placeholder="Phone...">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="newUser.website" name="website" class="form-control" placeholder="Website...">
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" (click)="addUser()">Add User</button>
        </div>
    </form>
</div>
