<div class="container list-group mt-5">

    <h1> Post of user  </h1>
    <ul class="list-group" *ngFor="let item of newPost; index as i">
        <li class="list-group-item m-1">
            <p> Post number: {{i+1}}</p>
            <p> Titolo del post: <br> {{item.title}}</p>
            <p> Contenuto del post: <br> {{item.body}}</p>
            
            <button class="btn btn-sm btn-secondary" (click)="seeCommento()"> Visualizza commenti </button>
        </li>
        
    </ul>

    <button class="btn btn-sm btn-primary" [routerLink]="['/tableuser']" routerLinkActive="router-link-active"> Torna agli users </button>

</div>
