

<div class="container my-3">
    <h1>Table User</h1>
    <button class="btn btn-primary m-2 container-fluid" [routerLink]="['/newuser']" routerLinkActive="router-link-active"> New user </button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listuser; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.website}}</td>
            <td>
              <button type="button" class="btn btn-info btn-sm mx-1" (click)="infoUser(item)" > <i>info</i> </button>
              <button type="button" class="btn btn-danger btn-sm mx-1" (click)="removeUser(item)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
