<div class="container">
    <h1>Edit User</h1>
    <form>
        <div class="form-group">
            <input type="text" [(ngModel)]="editUser.name"  name="name" class="form-control" placeholder="Name...">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="editUser.username"  name="username" class="form-control" placeholder="Username...">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="editUser.email"  name="email" class="form-control" placeholder="Email...">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="editUser.phone"  name="phone" class="form-control" placeholder="Phone...">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="editUser.website" name="website" class="form-control" placeholder="Website...">
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" (click)="saveUser()">Save User</button>
        </div>
    </form>
</div>
