<div class="container pt-5">

    <h1>User info:{{infoUser.name}}</h1>

    
    <p> <b>Username:</b> {{infoUser.username}}</p>
    <p> <b>Email:</b> {{infoUser.email}}</p>
    <p> <b>Phone number:</b> {{infoUser.phone}}</p>
    <p> <b>Website:</b> {{infoUser.website}}</p>
    
    <div class="d-flex">
        <button type="button" class="col-6 mx-1 btn btn-sm btn-info" (click)="updateUser(infoUser)" > Modifica utente </button>
        <button type="button" class="col-6 mx-1 btn btn-sm btn-primary" (click)="seePost(infoUser)"> Vedi i post </button>

    </div>

    <div class="d-flex justify-content-between">
        <span class="col-4"></span>
        <button type="button" 
                class="container-fluid mt-3 btn btn-sm btn-warning col-4"
                [routerLink]="['/tableuser']" routerLinkActive="router-link-active"
                > Trona indietro </button>
        <span class="col-4"></span>
    </div>
</div>

